* {
    box-sizing: border-box;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.btn21:hover {
    background-color: darkorchid;
}

.btn22:hover {
    background-color: darkred;
}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}